.genre-dropdown {
  display: flex;
  flex-direction: column;

  &-btn {
    border: none;
    background-color: #323232;
    opacity: 0.8;
    color: #ffffff;
    padding: 18px 18px 18px 15px;
    border-radius: 4px;
    width: 525px;
    text-align: left;

    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  &-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 525px;
  }

  &-item {
    background-color: rgba(35, 35, 35, 0.918051);
    color: #ffffff;
    padding: 18px 11px;

    font-family: "Montserrat" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  &-checkbox {
    margin-right: 7px;
  }
}
