.movie-info {
  display: flex;
  flex-direction: column;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
    width: 25vw;
    align-items: center;
  }

  &__title {
    align-items: center;
    min-height: 4vh;
    max-width: 65%;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    overflow-wrap: break-word;
    /* identical to box height */

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.7;
  }

  &__release-date {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.7;

    border: 1px solid #979797;
    border-radius: 4px;
    padding: 0 1.5vw;
  }

  &__genre {
    display: flex;
    align-items: center;
    height: 2vh;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
