.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .search-input {
    border: none;
    background-color: #323232;
    color: #ffffff;
    opacity: 0.8;
    width: 73%;
    padding: 19px 17px;
    border-radius: 4px;

    font-family: "Montserrat" sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}
