.results-count {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 11vw;
  height: 9vh;
  color: #ffffff;

  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
}
